body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    min-height: 100vh; /* Ensure body takes up at least the full height of viewport */
    display: flex;
    flex-direction: column;
    background-color: #f5f5fa; /* Changed background color */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add shadow */
}
#main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    flex: 1;
    margin-top: 130px;
    margin-bottom: 60px;
    flex-direction: column;
   
}



.status-container {
    display: flex;
    justify-content: space-between; /* Ensure equal spacing between items */
    width: 100%;
    min-width: 1000px;
    border-radius: 15px;
}

.status-box {
    flex: 1 1 300px; /* Allow items to grow and shrink, set a minimum width */
    margin: 10px; /* Add margin to create space between items */
    padding: 20px;
    text-align: center;
    border-radius: 10px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status-box h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.status-box p {
    font-size: 18px;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    color: #666;
}

.status-box.approved {
    display: flex;
    justify-content: flex-start;    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.status-box.rejected {
    display: flex;
    justify-content: flex-start;    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.status-box.pending {
    display: flex;
    justify-content: flex-start;    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.main-content-title-header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin: 80px;
    padding: 10px;
    height: auto;


}



#main-content {
    transition: margin-left .5s;
    /* padding: 17px; */
    height: auto;
    /* margin-top: 96px; */
    /* margin-bottom: 96px; */
    margin: 80px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top: 10px solid #D92F2F;
    overflow-x: auto;
    /* min-width: 1756px; */
}
.main-dashboard-title {
    text-align: left;
    /* margin-bottom: 20px; */
    border-bottom: 2px solid #D92F2F;
    /* padding-bottom: 10px; */
    position: sticky;
    color: #A00;
    padding: 40px 20px;
    margin: 40px;
    font-weight: bolder;
}
.main-search-container {
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
    justify-content: flex-end;
}
.main-search-container input[type=text] {
    padding: 10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background-color: none;
    width: 200px; /* Adjust width as needed */
    outline: none; /* Remove default outline */
    border: 1px solid;
}
.main-search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    /* margin-right: 16px; */
    background: #dddddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border: 1px solid;
}
.main-content-pagination {
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    justify-content: flex-end;
}

.main-content-pagination button {
    /* margin: 0 5px; */
    /* width: 80px;
    height: 40px; */
    background-color: #0F62FE;
    border-radius: 5px;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content-pagination button:hover {
    background-color: #3F8BFC; /* Change button background color on hover */
}

.main-content-centered {
    margin: 0 auto;
    /* width: 100%; */
    overflow-x: auto;
    margin: 40px;
}
#pageInput {
    width: 100px; /* Atur lebar input halaman */
    text-align: center; /* Pusatkan teks di dalam input */
    margin: 0 5px; /* Beri margin di sekitar input */
    border: 1px solid #ccc; /* Tambahkan border */
    border-radius: 5px; /* Tambahkan border radius */
    padding: 5px; /* Tambahkan padding */
}

@media only screen and (max-width: 768px) {

    #main-wrapper {
        margin: 10px; /* Sesuaikan margin untuk layar kecil */
        flex-direction: column; /* Ubah arah flex untuk layar kecil */
    }
    #main-content {
        width: 100%; /* Atur lebar konten utama untuk layar kecil */
        margin: 20px;
        padding: 5px; /* Sesuaikan padding pada konten utama */
        margin-top: 106px;   
    }


    .status-container {
        flex-direction: column; /* Ubah arah flex menjadi kolom untuk layar kecil */
        align-items: center; /* Pusatkan item di tengah */
    }

    .status-box {
        width: 100%; /* Atur lebar status box untuk layar kecil */
        margin: 10px 0; /* Sesuaikan margin untuk layar kecil */
    }

    .status-box img {
        width: 50px; /* Atur lebar gambar untuk layar kecil */
        height: auto; /* Pertahankan rasio aspek gambar */
        margin-right: 10px; /* Tambahkan margin kanan untuk spasi */
    }

    .status-box p {
        font-size: 16px; /* Sesuaikan ukuran font untuk layar kecil */
        margin: 5px 0; /* Sesuaikan margin untuk layar kecil */
    }

    .status-box.approved, .status-box.rejected, .status-box.pending {
        flex-direction: column; /* Ubah arah flex menjadi kolom untuk layar kecil */
        align-items: center; /* Pusatkan item di tengah */
        width: 100%; /* Atur lebar status box untuk layar kecil */
        margin: 10px 0; /* Sesuaikan margin untuk layar kecil */
    }
    .main-search-container input[type=text] {
        margin: 5px 0; /* Sesuaikan margin untuk layar kecil */
    }
    .main-search-container button {
        width: 100%; /* Atur lebar tombol untuk layar kecil */
        margin: 5px 0; /* Sesuaikan margin untuk layar kecil */
        display:none

    }
    .main-content-pagination {
        margin: 10px 0; /* Sesuaikan margin untuk layar kecil */
    }
    .main-content-pagination button {
        width: 100%; /* Atur lebar tombol untuk layar kecil */
        margin: 5px 0; /* Sesuaikan margin untuk layar kecil */
    }
    .main-content-centered {
        margin: 10px 0; /* Sesuaikan margin untuk layar kecil */
    }
    table {
        width: 100%; /* Lebarkan tabel agar sesuai dengan konten utama */
        display: block; /* Ubah tabel menjadi block untuk layar kecil */
        overflow-x: auto; /* Tambahkan scroll horizontal untuk tabel */
    }
    th, td {
        display: block; /* Ubah th dan td menjadi block untuk layar kecil */
        width: 100%; /* Atur lebar th dan td untuk layar kecil */
        box-sizing: border-box; /* Pastikan padding dan border dihitung dalam lebar */
    }
    th {
        text-align: left; /* Atur teks ke kiri */
    }
    td {
        text-align: left; /* Atur teks ke kiri */
    }
    tr {
        display: flex; /* Ubah tr menjadi flex untuk layar kecil */
        flex-direction: row; /* Atur arah flex menjadi baris */
        justify-content: space-between; /* Sebarkan header dan konten */
        margin-bottom: 10px; /* Tambahkan margin bawah untuk spasi antar baris */
    }
    td button, .delete-btn {
        margin: 5px; /* Sesuaikan margin untuk layar kecil */
    }
}
/* table {
    width: 100%;
    ;
    border-collapse: collapse;
    
}
th {
    width: 100%;
    background-color: #f2f4f8; 
    white-space: nowrap; 
    padding: 8px 10px; 
    text-align: left; 
    
}

td {
    padding: 8px 10px; 
    text-align: left;
}

th {
    width: 20%;
    background-color: #f2f4f8; 
    padding: 16px 16px;
}

tr{
    border-bottom: 1px solid #ddd; 

}

td button {
    padding: 6px 10px;
    background-color: #FF9900;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
    width: 40px; 
    height: 25px;
}

td button:hover {
    background-color: #000000; 
}
.delete-btn {
    padding: 6px 10px;
    background-color:#D92F2F;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
} */