body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    background-color: #F5F5FA; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

#main-wrapper {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    flex: 1;
    margin-top: 60px;
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
}
#main-content {
    transition: margin-left .5s;
    height: auto;
    margin: 80px;
    width: 1756px;
    height: auto;
}
.main-dashboard-title {
    text-align: center;
    position: sticky;
    color: #A00;
}

.main-dashboard-title-sub {
    text-align: center;
    color: #d92f2f;
}


.main-content-centered {
    margin: 0 auto;
    margin: 40px;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    gap: 30px;
}


#sub-content {
    transition: margin-left .5s;
    /* padding: 17px; */
    height: auto;
    /* margin-top: 96px; */
    /* margin-bottom: 96px; */
    margin: 80px;
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top: 10px solid #D92F2F;
    overflow-x: auto;
    width: 1756px;
}
.sub-dashboard-title {
    text-align: left;
    /* margin-bottom: 20px; */
    border-bottom: 2px solid #D92F2F;
    /* padding-bottom: 10px; */
    position: sticky;
    color: #A00;
    padding: 40px 20px;
    margin: 40px;
}


.sub-content-centered {
    margin: 0 auto;
    /* width: 100%; */
    overflow-x: auto;
    margin: 40px;
}
@media only screen and (max-width: 768px) {
    #main-wrapper {
        margin-top: 0; 
    }

    #main-content {
        width: 90%; 
        margin: 10px auto; 
        padding: 15px; 
    }

    }


    .box {
        display: flex;
        /* margin-right: 30px; */
        width: 100%;
        /* padding: 10px; */
        background-color: #FFF;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        /* margin-bottom: 20px; */
        flex-wrap: nowrap;
        border-radius: 5px;

    }
    .sub-box {
    padding: 10px;
    }

    .main-search-container {
        display: flex;
        margin-right: 40px;
        margin-left: 40px;
        justify-content: flex-end;
    }
    
    .main-search-container input[type=text] {
        padding: 10px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        background-color: none;
        border: 1px solid;
    }

    .main-content-pagination {
        display: flex;
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 40px;
        justify-content: flex-end;
    }
    
    .main-content-pagination button {
        /* margin: 0 5px; */
        width: 80px;
        height: 40px;
        background-color: #0F62FE;
        border-radius: 5px;
        color: white;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .main-content-pagination button:hover {
        background-color: #3F8BFC; /* Change button background color on hover */
    }
    
    table {
        width: 100%;
        ;
        border-collapse: collapse;
        
    }
    th {

        white-space: nowrap; /* Prevent text wrapping */
        text-align: left; /* Align text to the left */
        width: 20%; /* Set width for table header */
        background-color: #f2f4f8; /* Changed table header background color */
        padding: 16px 16px;
        }
    
    td {
        padding: 16px 16px;
        text-align: left; /* Align text to the left */
    }
    
    tr{
        border-bottom: 1px solid #ddd; /* Add border between table rows */
    
    }
    
    td button {
        padding: 6px 10px;
        background-color: #FF9900;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 5px;
        border-radius: 5px;
        width: 40px; /* Set fixed width */
        height: 25px;
    }
    
    td button:hover {
        background-color: #000000; /* Change button background color on hover */
    }
    .delete-btn {
        padding: 6px 10px;
        background-color:#D92F2F;
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 5px;
        border-radius: 5px;
    }
    


