body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scroll */
    display: flex;
    flex-direction: column;
    background-color: #ffffff; /* Changed background color */

}

/* Additional CSS for other elements if needed */

#main-wrapper {
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    margin-left: 80px;
    margin-right: 80px;
    flex: 1;
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 20px   ;
}
#main-content {
    transition: margin-left .5s;
    padding: 17px;
    height: 221px;

    margin-top: -100px;
    margin-left: 83px; 
    margin-right: 83px;

    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#main-content1 {
 background-color: #A00;
 background-image: url(/assets/image/background.svg);
 height: 779px;
 align-items: center;
 justify-content: center;
 display: flex;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Add shadow below */
}
.Ctitle {
    text-align: left;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    font-size: 88.82px; /* Set the font size */
    color: #ffffff; /* Set the font color to white */
}
.Htitle {
    text-align: left;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    font-size: 33.31px; /* Set the font size */
    color: #ffffff; /* Set the font color to white */
}
.Stitle {
    text-align: left;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    font-size:44.41px; /* Set the font size */
    color: #ffffff; /* Set the font color to white */
}

 .h1 {
    transition: margin-left .5s;
    padding: 17px;
    height: 221px;
    margin-top: 875px;
    margin-left: 83px;
    margin-right: 83px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}


.img-fluid {
    max-width: 100%; /* Ensure image stays within its container */
    height: auto; /* Maintain aspect ratio */
}
.main-dashboard-title {
    margin-bottom: 20px;
    border-bottom: 2px solid red;
    padding-bottom: 10px;
    position: sticky; /* Add sticky positioning */

    color: #d92f2f;
}
.main-search-container {
    border-radius: 10px;
    display: flex;
    border-bottom: 1px solid #d92f2f;
    border-top: 1px solid #d92f2f;
    border-left: 1px solid #d92f2f; 
    height: 80px;
    justify-content: center;
    align-items: center;
}
.fa-search{
    font-size: 24px;
    padding: 30px 26px;

  }


.main-search-container input[type=text] {

    font-size: 17px;
    height: 100%;
    width: 1414px;
    background: transparent;
    border: transparent;
    border-left: 1px solid #d92f2f; 
    padding-left: 15px; /* Jarak 2px dari border kiri */

}
.main-search-container button {

    border: 1px solid #ddd;
    height: 80px;
    width: 152px;
    font-size: medium;
    font-weight: bold;
    color: #ffffff;
    background-color: #AA0000;
    cursor: pointer;
    border: solid #AA0000; ;
    border-top-right-radius: 10px ;
    border-bottom-right-radius: 10px;
    box-sizing: border-box; /* Menghitung padding dan border ke dalam dimensi elemen */
    transition: transform 0.1s ease-in-out; /* Tambahkan efek transisi */

}

.main-search-container button:active {
    transform: scale(0.95); /* Efek klik */
}
.main-content-pagination {
    text-align: right;
    margin-top: 10px;
    margin-right: 0; /* Align to right */
    float: right;
    position: sticky; /* Add sticky positioning */
    bottom: 0; /* Stick to the bottom */
    
    background-color: #f5f5fa; /* Ensure the background color matches */
    z-index: 1; /* Ensure it stays above table content */
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
}

.main-content-pagination button {
    margin: 0 5px;
    width: 80px; /* Set fixed width */
    height: 40px; /* Set fixed height */
    background-color: #0F62FE; /* Change button background color */
    color: white; /* Change text color */
    cursor: pointer;
    display: flex;
    align-items: center; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
}

.main-content-pagination button:hover {
    background-color: #3F8BFC; /* Change button background color on hover */
}

.main-content-centered {
margin: 0 auto; /* Center the content */
width: 100%;
overflow-x: auto; /* Add horizontal scroll */
max-width: 1600px; /* Optional: Set maximum width of centered content */
}


/* General Container Style */
.container {
    margin-top: 1px;
    width: 100%;
    min-height: 819px;
    padding: 48px 40px;
    background-color: #ffffff;
    border: 1px solid #d92f2f;
    border-top: 10px solid #d92f2f;
    border-radius: 15px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
    overflow-x: auto;
    margin-bottom: 95px;
}

.tugas-akhir .header {
    text-align: left;
    font-size: medium;
    border-bottom: 2px solid #d92f2f;
    margin-bottom: 18px;
    padding: 1px;
}

.tugas-akhir h1 {

    margin-bottom: 24px;
    font-size: 32px;
    font-weight: bolder;
}

.tugas-akhir h2 {

    font-size: 24px;
    font-weight: bold;

}


.tugas-akhir .title {
    text-align: left;
    color: #2F80ED;
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 24px
}

.tugas-akhir .title a {
    text-align: left;
    color: #2F80ED;
    text-decoration: none;
}


.tugas-akhir .content {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    margin-bottom: 16px;
}

.tugas-akhir .content div {
    margin-right: 20px;
    text-align: left;
    padding-right: 1px;
}



/* Penelitian Specific Styles */
.penelitian .header {
    text-align: left;
    font-size: medium;
    border-bottom: 2px solid #d92f2f;
    margin-bottom: 18px;
    padding: 1px;
}

.penelitian h1 {

    margin-bottom: 24px;
    font-size: 32px;
    font-weight: bolder;
}

.penelitian h2 {

    font-size: 24px;
    font-weight: bold;

}

.penelitian .title {
    text-align: left;
    color: #2F80ED;
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 24px
    
}
.penelitian .title a {
    text-align: left;
    color: #2F80ED;
    text-decoration: none;
}


.penelitian .content {
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    margin-bottom: 16px;
}

.penelitian .content div {
    margin-right: 20px;
    text-align: left;
    padding-right: 1px;
}

.table-content {
    display: flex;
    align-items: stretch;
    margin-top: 16px;
    margin-bottom: 10px;
    border-bottom: 2px solid #aaa;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Additional Styling for Both Sections */
.title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
        align-content: center;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    #main-wrapper {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #main-content, #main-content1 {
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
    }

    .Ctitle, .Htitle, .Stitle {
        font-size: 70px; /* Adjust font size for smaller screens */
    }

    .main-search-container input[type=text] {
        width: 100%;
    }

    .main-search-container button {
        width: 100px;
    }

    .container {
        padding: 24px 20px; /* Kurangi padding untuk layar lebih kecil */
    }
    .tugas-akhir .header, .penelitian .header {
        font-size: small; /* Sesuaikan ukuran font */
    }
    .tugas-akhir h1, .penelitian h1 {
        font-size: 28px; /* Sesuaikan ukuran font */
    }
    .tugas-akhir h2, .penelitian h2 {
        font-size: 20px; /* Sesuaikan ukuran font */
    }
    .tugas-akhir .title, .penelitian .title {
        font-size: 20px; /* Sesuaikan ukuran font */
    }
    .tugas-akhir .content, .penelitian .content {
        flex-direction: column; /* Ubah arah flex menjadi kolom */
    }
    .tugas-akhir .content div, .penelitian .content div {
        margin-right: 0; /* Hapus margin kanan */
        margin-bottom: 10px; /* Tambahkan margin bawah */
    }
}

@media (max-width: 768px) {
    #main-wrapper {
        flex-direction: column;
        align-items: center;
    }

    #main-content, #main-content1 {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .Ctitle, .Htitle, .Stitle {
        font-size: 50px; /* Further adjust font size */
    }

    .main-search-container {
        flex-direction: column;
        height: auto;
    }

    .main-search-container input[type=text] {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .main-search-container button {
        width: 100%;
    }

    .container {
        padding: 16px 10px; /* Kurangi padding lebih lanjut untuk layar lebih kecil */
    }
    .tugas-akhir h1, .penelitian h1 {
        font-size: 24px; /* Sesuaikan ukuran font */
    }
    .tugas-akhir h2, .penelitian h2 {
        font-size: 18px; /* Sesuaikan ukuran font */
    }
    .tugas-akhir .title, .penelitian .title {
        font-size: 18px; /* Sesuaikan ukuran font */
    }
}

@media (max-width: 480px) {
    .Ctitle, .Htitle, .Stitle {
        font-size: 30px; /* Further adjust font size */
    }

    .main-content-pagination button {
        width: 60px;
        height: 30px;
    }

    .container {
        padding: 8px 5px; /* Kurangi padding lebih lanjut untuk layar sangat kecil */
    }
    .tugas-akhir h1, .penelitian h1 {
        font-size: 20px; /* Sesuaikan ukuran font */
    }
    .tugas-akhir h2, .penelitian h2 {
        font-size: 16px; /* Sesuaikan ukuran font */
    }
    .tugas-akhir .title, .penelitian .title {
        font-size: 16px; /* Sesuaikan ukuran font */
    }

    .main-search-container {
        flex-direction: column;
        height: auto;
    }

    .main-search-container input[type=text] {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .main-search-container button {
        width: 100%;
    }
}