
<link rel="stylesheet" href="/assets/style/navbarsidebar.css" />
    </div>
    <div class="navbarhome">
        <div class="navbar-left">
            <a href="/">
                <img class="navbar-profile-img" src="/assets/image/logoittswhite.svg" alt="Profile Picture">
            </a>
        </div>
        <div class="navbar-right">
            <a href="/login">
                <button class="login">Masuk</button>
            </a>
        </div>
    </div>

<script src="/assets/scripts/components.js"></script>





