<link rel="stylesheet" href="/assets/style/navbarsidebar.css" />


<div class="navbarhome">
    <div class="navbar-left-alt">
        <a href="/">
            <img class="navbar-profile-img" src="/assets/image/logoitts.svg" alt="Profile Picture">
        </a>
    </div>
    <div class="navbar-right-alt">
        <div class="navbar-button-alt">
            <div class="navbar-dropdown">
                <button onclick="toggleProfileDropdown() " class="login">
                    Dashboard
                </button>
                <div id="navbar-dropdown-content" class="navbar-dropdown-content">
                    <a class="dashboard-link" id="dashboard-link" href="#">Dashboard</a>
                    <a class="logout" onclick="logout()" style="cursor: pointer;">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>


