<link rel="stylesheet" href="/assets/style/navbarsidebar.css" />
<div id="mySidebar" class="sidebar">
    <a href="/dashboard/admin"><i class="fas fa-home"></i> Dashboard</a>
    <a href="/dashboard/admin/daftarusr"><i class="fas fa-users"></i> Daftar User</a>
    <a href="/dashboard/admin/daftarpe"><i class="fas fa-envelope"></i> Daftar Penelitian</a>
    <a href="/dashboard/admin/daftarta"><i class="fas fa-file-alt"></i> Daftar Tugas Akhir</a>
    <a href="/dashboard/admin/dokumenconfig"><i class="fas fa-cog"></i> Pengaturan Dokumen</a>
    <a href="/dashboard/admin/userconfig"><i class="fas fa-user-cog"></i> Pengaturan User</a>
</div>